body{
    background-image: url(background.jpg);
    background-position: 50% 10%;
}

.help{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 3;
    grid-row: 2 / 3;
    margin-top: 150px;
}

.callFriend{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-column: 2;
    grid-row: 1 / 2;
    cursor: pointer;
    border-radius: 25px;
    margin-bottom: 15px;

}
.fifty{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-column: 2;
    grid-row: 2 / 3;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 15px;
}
.peopleHelp{
    background-color: white;
    display: flex;
    grid-template-columns: 1fr;
    grid-column: 2;
    grid-row: 3 / 4;
    cursor: pointer;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.getAnswer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    grid-template-columns: 1fr;
    grid-column: 2;
    grid-row: 4 / 5;
    cursor: pointer;
    border-radius: 25px;

}

.win{
    grid-column: 3;
    grid-row: 3 / 4;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: green;
    background-color: yellowgreen;
    user-select: none;
    display: flex;
    border-radius: 35px;
    justify-content: center;
    width: 255px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.head{
    grid-column: 1/4;
    /*background-color: grey;*/
    margin-bottom: 25px;

}

.center{
    width: 950px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 2;
    grid-row: 2 / 3;
    /*background-color: darkgrey;*/
    border-radius: 35px;
    margin-top: 25px;
}

td{
    border: 4px solid grey;
    text-align: center;

}

.money{
    background-color: darkorange;
}


h1 {
    text-align: center;
    color: goldenrod;
}

.timer{
    text-align: center;
    font-weight: bold;
    font-size: 77px;
    color: green;
    background-color: gainsboro;
    user-select: none;
    display: flex;
    border-radius: 35px;
    justify-content: center;
    width: 150px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.start{
    grid-column: 2;
    grid-row: 3 / 4;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: green;
    background-color: yellowgreen;
    user-select: none;
    border: 4px solid black;
    display: flex;
    border-radius: 35px;
    justify-content: center;
    width: 255px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}


.answer1,.answer2,.answer3,.answer4{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    margin: 15px;
    height: 65px;
    width: 300px;
    cursor: pointer;

}

.answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    grid-row: 2;
    text-align: center;
    background-color: lightgoldenrodyellow;
}

.table{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-row: 2 / 3;
    width: 175px;
    background-color: white;
    text-align: center;
    padding: 5px;
    border: 4px solid black;
    height: 270px;
    margin-top: 150px;
}

.nums{
    width: 40px;

}

.question {
   color: black;
    border-radius: 35px;
    background-color: #cccc00;

}
